<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Artist Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <h1> Artist registration </h1>
    <p> We will need a ArtistId </p>
    <form action="/api/registerArtist" method="POST">
        <label> ArtistId </label>
        <input type="text" name="artistId" id="fanId" placeholder="" required>
        <button type="submit"> Register </button>
    </form>
    
</body>
</html>