<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Artist Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="../app.js"></script>
</head>
<body>
    <h1> Artist registration </h1>
    <p> We will need a ArtistID </p>
    <form action="/api/registerArtist" method="POST">
        <label> ArtistID </label>
        <input type="text" name="artistId" id="fanId" placeholder="" required><br>
        <label> First Name </label>
        <input type="text" name="firstname" id="fanId" placeholder="" required><br>
        <label> Last Name </label>
        <input type="text" name="lastname" id="fanId" placeholder="" required><br>
        <label> E-Mail </label>
        <input type="text" name="email" id="fanId" placeholder="" required><br><br>
        <button type="submit"> Register </button>
    </form>
    
</body>
</html>