<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Event Place Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <h1> New Event Space </h1>
    <form action="/api/registerEvent" method="POST"><br>
        <label>
            Name
        </label>
        <input type="text" name="name" required><br>
        <label>
            Description
        </label>
        <input type="text" name="description" required><br>
        <label>
            Artists ID
        </label>
        <input type="text" name="artists" required><br>
        <label>
                Event Date
        </label>
        <input type="text" name="eventDate" required><br>
        <label>
            Event Space
        </label>
        <select name="ESId">
            <% for(var i = 0; i < owner.spaces.length; i++){%>
                <option value="<%= owner.spaces[i].ESId%>"><%= owner.spaces[i].name%></option>
            <% }%>
        </select></br>
        <input type="text"  name="artistId" hidden value="<%= owner.artist%>">
            
        
        <button value="submit">Submit</button>
    </form>
</body>
</html>