<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Wizticket home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <h1>Welcome to wizticket alpha!</h1>
    <h2> This is just a POC of how it should work</h2>
    <p> Use <a href="https://github.com/mad-ducks/wizticket-composer">this</a> link to see our progress on github</p>
    <hr>
    <h3> Fans </h3>
    <p> Fans can register on the network by creating an account number for id on the network and access card to sign in, buy tickets, and resell them.</p>
    <a href="/fan"> Sign in </a> or <a href="/fanregistration"> Register </a>
    <hr>
    <h3> Artists </h3>
    <p> Artists can register on the network by creating an account number for id on the network and access card to sign in, create events and sell tickets</p>
    <a href="/artist"> Sign in </a> or <a href="/artistregistration"> Register </a>
    <hr>
    <h3> Event Place Owner </h3>
    <p> Event Place Owner can register on the network by creating an account number for id on the network and access card to sign in and post their event places</p>
    <a href="/eventowner"> Sign in </a> or <a href="/eventownerregistration"> Register </a>
    
</body>
</html>